/* Slider section */
.slider {
    width: 100%;
    height: 660px;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider .container {
    height: inherit;
}

.introduction {
    width: 650px;
}

.introduction h1 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.introduction p {
    color: #ccd0d7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.buttons-container {
    display: flex;
}
.buttons-container .introduction-button {
    text-align: center;
}
.buttons-container .introduction-button button {
    width: 120px;
    height: 40px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 15px;
    cursor: pointer;
    outline: none;
}

.buttons-container .introduction-button button:hover {
    background-color: #23b7a4;
    border-color: #23b7a4;
}

.buttons-container .introduction-button button,
.buttons-container .introduction-button button:hover {
    transition: .3s;
}

.slider .container {
    position: relative;
}
.dots {
    display: flex;
    width: 40px;
    justify-content: space-between;
    position: absolute;
    right: 0;
    bottom: 30px;
}

.dots .dot {
    width: 10px;
    height: 10px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.dot-fill {
    background-color: #ffffff;
}

/* Page Content */

/* We Are Modest Section */
.page-content {
    padding: 80px 0 60px 0;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #dde1e4;
}

.section-tittle {
    height: 35px;
    padding: 6px 0 3px 25px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 36px;
    position: relative;
}

.section-tittle:before{
    content: '';
    display: block;
    width: 10px;
    height: 100%;
    background-color: #e1e6ea;
    position: absolute;
    left: 0;
}

.content {
    display: flex;
    padding-top: 60px;
}

.col-md-7 {
    width: 58%;
}
.col-md-5 {
    width: 42%;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #8d8f92;
    margin-bottom: 30px;
    line-height: 26px;
}

p span {
    font-weight: 700;
}

.points-section {
    padding-left: 30px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.points-block {
    display: flex;
    margin-bottom: 10px;
}
.first-col {
    width: 15%;
}
.second-col {
    width: 85%;
}

.point {
    width: 50px;
    height: 50px;
    background-color: #23b7a4;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
}

h3 {
    text-transform: uppercase;
    color: #292f36;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 7px;
}

.point-description p {
    font-size: 16px;
}

.social-icons-section {
    display: flex;
    margin-top: 50px;
}

.icons-large {
    width: 60px;
    height: 60px;
    background-color: #c8cdd0;
    margin-right: 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-large:hover {
    background-color: #d0d5d9;
}

/* Transition Duration */
.icons-large,
.icons-large:hover {
    transition: .3s;
}

/* Meet the team Section */
.card-wraper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 263px;
    height: 374px;
    cursor: pointer;
}

.photo-section {
    height: 300px;
    position: relative;
}

.card .description {
    height: 74px;
    background-color: #e1e6ea;
    padding: 20px 20px;
}

.card .description h4 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #292f36;
}

.card .description p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #8d8f92;
}

.icons-on-photo {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    visibility: hidden;
    opacity: 0;
}

.icons-on-photo .icon-small {
    width: 50px;
    height: 50px;
    background-color: #3a454d;
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-on-photo .icon-small:hover {
    background-color: #4e5a62;
}

.photo-section .overlay {
    width: 263px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    cursor: pointer;
}

.card:hover .overlay {
    background-color: rgba(255, 255, 255, .4);
}

.card:hover .description {
    background-color: #3a454d;
}
.card:hover .description h4,
.card:hover .description p {
    color: white;
}

.card:hover .icons-on-photo {
    visibility: visible;
    opacity: 1;
}

.card:hover .icons-on-photo,
.icons-on-photo,
.icons-on-photo .icon-small:hover,
.icons-on-photo .icon-small,
.photo-section .overlay,
.card:hover,
.card .description,
.card .description h4,
.card .description p,
.card:hover .description h4,
.card:hover .description p  {
    transition: .3s;
}

/* Lovely Work */

.dark-section {
    background-color: #3a454d;
}

.lovely-work {
    color: white;
}

.lovely-work .section-tittle:before {
    background-color: #4e5a62;
}

.lovely-work-card {
    width: 360px;
    height: 265px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.lovely-work-card img {
    width: 100%;
    height: 100%;
}

.gray-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(41, 47, 54, .5);
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.card-description {
    height: 60px;
    width: inherit;
    background-color: #292f36;
    display: flex;
    align-items: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
    cursor: pointer;
}
.card-description h4 {
    font-size: 18px;
    text-transform: uppercase;
}

.lovely-work-card:hover .gray-overlay {
    visibility: visible;
    opacity: 1;
}

.lovely-work-card:hover .card-description {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.lovely-work-card .icons-on-photo {
    top: 102px
}

.lovely-work-card .icons-on-photo .icon-small{
    background: none;
}

.lovely-work-card:hover .icons-on-photo {
    visibility: visible;
    opacity: 1;
}

.icons-on-photo:hover .icon-small {
    transform: scale(1.5);
}

.button-container {
    justify-content: center;
    display: flex;
    width: 100%;
    padding-top: 30px;
}

.button-container button{
    width: 150px;
    height: 40px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.button-container button:hover {
    background-color: #23b7a4;
    border-color: #23b7a4;
}

.card-description,
.lovely-work-card:hover .card-description,
.lovely-work-card:hover .gray-overlay,
.gray-overlay,
.button-container button:hover,
.button-container button {
    transition: .3s;
}

/* What we do */
.what-we-do-content .row {
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-block {
    text-align: center;
    width: 260px;
    padding: 90px 0 0 0;
}

.content-icon img {
    width: 48px;
    height: 48px;
}

.content-description {
    padding-top: 35px;
}

.content-description h3 {
    font-size: 17px;
    color: #292f36;
    padding-bottom: 28px;
}

.content-description p {
    color: #8d8f92;
    font-size: 16px;
}

/* Features */

.features {
    color: white;
}

.features .section-tittle:before {
    background-color: #4e5a62;
}

.features-card {
    width: 360px;
}

.features-card-image {
    width: 360px;
    height: 240px;
}

.features-description h3 {
    color: white;
    font-size: 18px;
    padding-top: 55px;
}
.features-description p {
    color: #dcdfe1;
    font-size: 16px;
    padding-top: 30px;
}

.features .content {
    justify-content: space-between;
}
/* Stay in touch */

.map-image {
    margin-top: 60px;
    width: 100%;
    height: 345px;
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.stay-in-touch-section .container .row {
    justify-content: space-between;
    position: relative;
}
.text-block {
    width: 535px;
    padding-top: 55px;
}
.text-block h3 {
    margin-bottom: 35px;
    padding-left: 10px;
}

.input-block {
    width: 555px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    position: absolute;
    right: 0;
    bottom: 16px;
    background-color: white;
}

.input-block p {
    color: #8d8f92;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 5px;
}

.field-block {
    width: 240px; 
    padding-bottom: 25px;  
}

.field-block input {
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    background-color: #eaeef1;
    border-radius: 5px;
    padding: 15px;
    color: #8d8f92;
    font-size: 14px;
}

.text-area {
    width: 100%;
    padding-bottom: 30px;
}
.text-area textarea {
    resize: none;
    width: 100%;
    height: 160px;
    border: none;
    background-color: #eaeef1;
    border-radius: 5px;
    padding: 15px;
    outline: none;
    color: #8d8f92;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.input-block button {
    width: 150px;
    height: 40px;
    border: 2px solid #23b7a4;
    background-color: #23b7a4;
    text-transform: uppercase;
    color: white;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-block button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #23b7a4;
}

.input-block button:hover,
.input-block button {
    transition: .3s;
}

