* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-shrink: 0;
}

.width-25 {
    width: 25%;
}

.width-50 {
    width: 50%;
}